<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="main">
        <title>Bmail app</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Bmail</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="Options of Bmail">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opcije <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>{% block li1 %}{% endblock li1 %}</li>
                    <li>{% block li2 %}{% endblock li2 %}</li>
                    <li>{% block li3 %}{% endblock li3 %}</li>
                    <li>{% block li4 %}{% endblock li4 %}</li>
                    <li>{% block li5 %}{% endblock li5 %}</li>
                    <li>{% block li6 %}{% endblock li6 %}</li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
            {% if prijavljen %}
                {% block content %}
                {% endblock content %}
                <br>
                <p>
                    <a href="{{ logout_url }}" role="button" class="btn btn-danger">Logout</a>
                </p>
            {% else %}
                <h1>Hello anonymous Bmail-er.</h1>
                <br>
                <p>
                    <a href="{{ login_url }}" role="button" class="btn btn-primary">Login</a>
                </p>
            {% endif %}
        </div>
    </body>
</html>