{% extends "base.html" %}

{% block content %}

    <h1>Hello, SmartNinja!</h1>
    {% for oseba in seznam %}
        <ul>
            <li>{{ oseba.first_name }}</li>
            <li>{{ oseba.last_name }}</li>
            <li>{{ oseba.id }}</li>
            <li>{{ oseba.email }}</li>
            <li>{{ oseba.country }}</li>
            <li>{{ oseba.SSN }}</li>
        </ul>
    {% endfor %}

    <button class="btn btn-success">
        <a href="/vreme">Pojdi na vreme</a>
    </button>

{% endblock content %}