{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Hello, Bmailer in Bmail!</h1>

        <br>
        <br>

        <button class="btn btn-success">
            <a href="/vreme">Pojdi na vreme</a>
        </button>

        <br>
        <br>

        <button class="btn btn-success">
            <a href="/all_messages">Pojdi na vsa sporocila</a>
        </button>

        <br>
        <br>

        <button class="btn btn-success">
            <a href="/received_mail">Pojdi na prejeta sporocila</a>
        </button>

        <br>
        <br>

        <button class="btn btn-success">
            <a href="/sent_mail">Pojdi na poslana sporocila</a>
        </button>

        <br>
        <br>

        <button class="btn btn-success">
            <a href="/message">Pojdi na posiljanje sporocila</a>
        </button>
    </div>

{% endblock content %}