{% extends "base.html" %}

{% block content %}
    <div class="well">
        <h2>Data of message:</h2>
        <a href="/" role="button" class="btn btn-warning">Pojdi na glavno stran</a>
        <br>
        <br>
        <p>Id of message: {{ message.key.id() }}</p>
        <p>Message content: {{ message.message }}</p>
        <p>Sender of message: {{ message.sender }}</p>
        <p>Receiver of message: {{ message.receiver }}</p>
        <a href="/single_message/{{ message.key.id() }}/edit">Edit</a>
        <a href="/single_message/{{ message.key.id() }}/delete">Delete</a>
    </div>
{% endblock content %}